###### Print stars

In [145]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

###### Print 2D coordinates

In [147]:
for x in range(0,4):
    for y in range(0, 3):
        print(f'{x,y}')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

##### Count number of vowels in a string

In [129]:
str = input('enter your string:')
count=0
for i in str:
    if (i in 'aieou'):
        count += 1
print(count)

enter your string:Shubham Khandelwal
5

##### Prime number function

In [142]:
def prime(x):
    flag=0
    for i in range(2, x):
        if x%i==0:
            flag=1
            break
    if flag==0:
        return ('Prime')
    else:
        return ('Not Prime')

In [143]:
print(prime(5))
print(prime(4))
print(prime(11))
print(prime(67))

Prime
Not Prime
Prime
Prime

In [10]:
l=[1,3,5,7]

In [2]:
l=[i**3 for i in l] # List Comprehension

In [3]:
l

[1, 27, 125, 343]

In [4]:
l

[1, 27, 125, 343]

In [5]:
def fun(x):
    return(x%2==0) # Since we have passed only the boolean condition in the return statement, hence it is returning
                   # True or False.

In [6]:
fun(21)

False

In [7]:
l=[1,2,3,4,5,'A','B','C','D']

In [8]:
l

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D']

In [9]:
l2=[]
l3=[]

In [10]:
for i in l:
    if type(i)==int:
        l2.append(i)
    else:
        l3.append(i)
print(l2)
print(l3)

[1, 2, 3, 4, 5]
['A', 'B', 'C', 'D']

In [2]:
l=['c'+str(x) for x in range(3)]

In [3]:
l

['c0', 'c1', 'c2']

In [1]:
# x = ['Jack', 18, 'IM-101', 99.9, True,99,30]
x=2
print(isinstance(x, list))
print(type(x))

False
<class 'int'>

### Using list comprehension, store the integers in a separate list

In [2]:
x = ['Jack', 18, 'IM-101', 99.9, True,99,30]

In [3]:
y=[i for i in x if type(i)==int]

In [4]:
y

[18, 99, 30]

In [11]:
l1=[1,4,1,4,3,3,6,1,7,1]

In [12]:
l.count(1)

1

In [97]:
#To remove only the first occurance of an element of the list
li = [2,2,1,7,4]
li.remove(2)
li

[2, 1, 7, 4]

### Remove all the 2's from the list

In [24]:
li = [2,2,1,7,2,2,2,2,2,4]
lst = [ li.remove(2) for x in li if x==2 ]
li

[1, 7, 2, 2, 2, 4]

In [26]:
li = [2,2,1,7,2,4]
lst=[x for x in li if x !=2]
lst

[1, 7, 4]

### Get Unique elements

In [27]:
l=[1,1,3,1,4,4,6,7,8,4,4,2,9]
l

[1, 1, 3, 1, 4, 4, 6, 7, 8, 4, 4, 2, 9]

In [28]:
set(l) # Converting list into set. Hence it contains all unique elements ---- Typecasting

{1, 2, 3, 4, 6, 7, 8, 9}

In [29]:
list(set(l)) # Stored the elements of the set in a list

[1, 2, 3, 4, 6, 7, 8, 9]

In [30]:
l2=[2,2,2,2,8,4,6,2,1,1,5,6,1]
l2

[2, 2, 2, 2, 8, 4, 6, 2, 1, 1, 5, 6, 1]

In [31]:
# Using For loop

empty=[]
for i in l2:
    if i not in empty:
        empty.append(i)
print(empty)

[2, 8, 4, 6, 1, 5]

In [36]:
# Using List comprehension

a=[]
l=[a.append(i) for i in l2 if i not in a] # using not in operator
print(a)

[2, 8, 4, 6, 1, 5]

In [42]:
# Using List comprehension
li=[2,2,2,2,9,9,9,5,3,5,2,3,9,8,0]
b=[]
[b.append(i) for i in li if b.count(i)==0 ] # using count method
print(b)

[2, 9, 5, 3, 8, 0]

### Finding the max value among mixed data types

In [1]:
numbers=[3,6,2,10,8,4,'a',True]
m=numbers[0]
for i in numbers:
    if type(i)==int and i > m:
        m=i
print(m)

10

In [3]:
ls=[1,2,4,5,'a','b']
ls

[1, 2, 4, 5, 'a', 'b']

In [4]:
# Understand the output !!

a=[]
for i in ls:
    if type(i)==int:
        print(a.append(i))

None
None
None
None

In [5]:
a=[]
for i in ls:
    if type(i)==int:
        a.append(i)
print(a)

[1, 2, 4, 5]

In [8]:
li=[1,4,6,7]

In [9]:
print(li.append(4))

None

In [10]:
print(li.insert(2,4))

None

In [1]:
l=[1,6 ,89,65]
l

[1, 6, 89, 65]

In [3]:
max(l)

89

#### Print positive numbers in a list

In [2]:
l=[-10, -21, -4, 45, -66, 93]

In [3]:
a=[]
for i in l:
    if i>0:
        a.append(i)
print(a)

[45, 93]

#### OR

In [4]:
pos_num=list(filter(lambda x:x>0, l))
pos_num

[45, 93]

In [5]:
pos_num=[i for i in l if i>0]
pos_num

[45, 93]

#### Remove empty list from the given list

In [6]:
test_list = [5, 6, [], 3, [], [], 9]

In [7]:
a=[]
for i in test_list:
    if i!=[]:
        a.append(i)
print(a)

[5, 6, 3, 9]

#### Copying a list

In [8]:
def Cloning(li1):
    li_copy = li1[:]
    return li_copy

In [9]:
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [10]:
lst=[1,4,6,3,7,8]
lst

[1, 4, 6, 3, 7, 8]

In [11]:
lst_copy=lst[:]
lst_copy

[1, 4, 6, 3, 7, 8]

#### OR

In [12]:
lst

[1, 4, 6, 3, 7, 8]

In [13]:
lst_copy=[]
lst_copy.extend(lst)

In [14]:
lst_copy

[1, 4, 6, 3, 7, 8]

#### OR

In [15]:
lst_copy=[i for i in lst]
lst

[1, 4, 6, 3, 7, 8]

#### Print cummulative sum in a list

In [29]:
list=[10,20,30,40,50]
new_list=[]
j=0
for i in range(0,len(list)):
    j=j+list[i]
    new_list.append(j)
print(new_list)

[10, 30, 60, 100, 150]

##### Swap first and last element in a list

In [30]:
# Swap function
def swapList(newList):
    newList[0], newList[-1] = newList[-1], newList[0]
    return newList

In [31]:
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

#### Python code to Check if element exists in list or not

In [32]:
lst=[ 1, 6, 3, 5, 3, 4 ]

In [33]:
i=4
if i in lst:
    print('exists')
else:
    print('not exists')

exists

#### OR

In [34]:
if 4 in lst:
    print(True)
else:
    print(False)

True

##### Print second largest element in a list

In [35]:
lst=[10,90,45,34,34,100]

In [36]:
lst_new=[]
for i in lst:
    if i not in lst_new:
        lst_new.append(i)
print(lst_new)

[10, 90, 45, 34, 100]

In [37]:
lst_new.sort()
lst_new

[10, 34, 45, 90, 100]

In [38]:
lst_new[-2]

90

#### Sum of elements in a list

In [39]:
list1 = [11, 5, 17, 18, 23]
number=0
for i in range(0, len(list1)):
    number=number + list1[i]
print('The sum of numbers is', number)

The sum of numbers is 74

In [40]:
lst=[1,4,2,2,5,6,3,2,3]
lst

[1, 4, 2, 2, 5, 6, 3, 2, 3]

##### Count number of occurrences of an element in a list

In [48]:
def count(lst, x):
    count = 0
    for i in lst:
        if i == x:
            count = count + 1
    return count

In [49]:
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
count(lst, x)

5

##### Swap elements at given positions

In [44]:
def swap_position(lst, pos1, pos2):
    lst[pos1], lst[pos2]=lst[pos2], lst[pos1]
    return lst

In [45]:
lst=[1,5,7,4,5,6]
pos1=1
pos2=3
swap_position(lst, pos1, pos2)

[1, 4, 7, 5, 5, 6]

##### Reversing a list using slicing technique

In [46]:
def reverse_lst(lst):
    lst_reverse=lst[::-1]
    return lst_reverse

In [47]:
lst=[1,3,4,6,7,4]
reverse_lst(lst)

[4, 7, 6, 4, 3, 1]

##### Given a list of numbers and a number k, write a Python program to check whether the sum of any two numbers from the list is equal to k or not.
For example, given [1, 5, 11, 5] and k = 16, return true since 11 + 5 is 16.

In [88]:
def check_sum(nums, k):   
    for i in range(len(nums)):
        for j in range(i+1, len(nums)):
            if nums[i] + nums[j] == k:
                return True
            return False

In [89]:
print(check_sum([1, 1, 0], 0))
print(check_sum([20, 20, 4, 5], 40))

False
True

#### Remove Kth element from a list

In [56]:
def remove_kth_element(n_list, L):
    result=n_list[:L-1] + n_list[L:]
    return result

In [58]:
n_list = [1,1,2,3,4,4,5,1]
kth_position = 3
remove_kth_element(n_list, kth_position)

[1, 1, 3, 4, 4, 5, 1]

##### Python function that takes two lists and returns True if they have at least one common member.

In [50]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result

In [51]:
print(common_data([1,2,3,4,5], [5,6,7,8,9]))

True

In [52]:
print(common_data([1,2,3,4,5], [10,6,7,8,9]))

None

###### OR

In [53]:
def common_data(list1, list2):
     flag=0
     for x in list1:
         for y in list2:
             if x == y:
                 flag=1
                 break
     if flag==1:
        return True
     else:
        return False

In [54]:
print(common_data([1,2,3,4,5], [5,6,7,8,9]))

True

In [49]:
print(common_data([1,2,3,4,5], [10,6,7,8,9]))

False

##### Python program to iterate over two lists simultaneously.

In [66]:
num = [1, 2, 3]
color = ['red', 'white', 'black']
for (a,b) in zip(num, color):
     print(a, b)

1 red
2 white
3 black

##### Write a Python program to compute average of two given lists.

In [70]:
def average_two_lists(nums1, nums2):
    result = sum(nums1 + nums2) / len(nums1 + nums2) 
    return result

In [72]:
nums1 = [1, 1, 3, 4, 4, 5, 6, 7]
nums2 = [0, 1, 2, 3, 4, 4, 5, 7, 8]
print(average_two_lists(nums1, nums2))

3.823529411764706

##### Write  a python program to find the least positive integer missing from a list of input integers

In [13]:
l=[1,-1,3,7,8,0,2,5,-6, 0]

In [25]:
def fun(lst):
    for i in range(1, len(lst)+1):
        if i not in lst:
            print(i)
            break

In [26]:
fun(l)

4

In [27]:
lst=[3,7,-1,8,9,10]
fun(lst)

1

In [28]:
l=[2,3,7,1,6,8,-1,-10,15]
fun(l)

4

In [29]:
l=[1,2,5,6,7,11,17,67,100]
fun(l)

3

In [30]:
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]

In [31]:
num1[-1]=num2

In [32]:
print(num1)

[1, 3, 5, 7, 9, [2, 4, 6, 8]]

#### Program to find most frequent element in a list

In [57]:
def most_frequent(List):
    counter = 0
    num = List[0]
     
    for i in List:
        curr_frequency = List.count(i)
        if(curr_frequency> counter):
            counter = curr_frequency
            num=i
    return num

In [58]:
List = [2, 1, 2, 2, 1, 3]
print(most_frequent(List))

2

#### Write a Python program to count integer in a given mixed list

In [79]:
list1 = [1, 'abcd', 3, 1.2, 4, 'xyz', 5, 'pqr', 7, -5, -12.22]

In [82]:
count=0
for i in list1:
    if type(i)==int:
        count+=1
print(count)

6

##### Find missing numbers in a sorted list

In [84]:
def find_missing(lst):
    return [x for x in range(lst[0], lst[-1]+1)
                               if x not in lst]

In [85]:
# Driver code
lst = [1, 2, 4, 6, 7, 9, 10]
print(find_missing(lst))

[3, 5, 8]

#### Print second largest number

In [86]:
def calc_largest(lst):  
    second_largest = lst[0]  
    largest_val = lst[0]  
    for i in range(len(lst)):  
        if lst[i] > largest_val:  
            largest_val = lst[i]  
  
    for i in range(len(lst)):  
        if lst[i] > second_largest and lst[i] != largest_val:  
            second_largest = lst[i]  
  
    return second_largest

In [87]:
print(calc_largest([20, 30, 40, 25, 10]))

30

#### Find length of the list

In [90]:
test_list = [ 1, 4, 5, 7, 8 ]

In [91]:
count=0
for i in test_list:
    count=count+1
print(count)

5

#### Python program to count positive and negative numbers in a list

In [92]:
list1 = [10, -21, 4, -45, 66, -93, 1]

In [93]:
pos_count, neg_count=0,0
for i in list1:
    if i>0:
        pos_count=pos_count+1
    else:
        neg_count=neg_count+1

In [95]:
print(pos_count)
print(neg_count)

4
3

#### Program to find sum of all items in a Dictionary

In [97]:
def returnSum(dict):
    sum = 0
    for i in dict.values():
        sum = sum + i
 
    return sum

In [98]:
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

### OR

In [99]:
def returnSum(myDict):
 
    list = []
    
    for i in myDict:
        list.append(myDict[i])
    final = sum(list)
 
    return final

In [100]:
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

#### OR

In [101]:
def returnSum(dict):
 
    sum = 0
    for i in dict:
        sum = sum + dict[i]
 
    return sum

In [102]:
dict = {'a': 100, 'b': 200, 'c': 300}
print("Sum :", returnSum(dict))

Sum : 600

#### Program to check whether a given key already exists in a dictionary.

In [103]:
def checkKey(dic, key):
    if key in dic.keys():
        print("Present, ", end =" ")
        print("value =", dic[key])
    else:
        print("Not present")

In [104]:
dic = {'a': 100, 'b':200, 'c':300}
key = 'b'
checkKey(dic, key)

Present,  value = 200

##### Combine two lists in one dictionary

In [105]:
l1=[1,2,3]
l2=['Apple','Mango','Guava']

In [106]:
d={}
for i in range(len(l1)):
    d.update({l1[i]:l2[i]})
print(d)

{1: 'Apple', 2: 'Mango', 3: 'Guava'}

In [108]:
d.keys()

dict_keys([1, 2, 3])

In [109]:
d.values()

dict_values(['Apple', 'Mango', 'Guava'])

In [110]:
d.items()

dict_items([(1, 'Apple'), (2, 'Mango'), (3, 'Guava')])

#### Create a dictionary having the word and it's corresponding length greater than 5 else give the length as 'short'

In [111]:
words=['data', 'science', 'machine', 'learning','good', 'morning']

In [112]:
words_dict={}
for i in words:
    if len(i)>5:
        words_dict[i]=len(i)
    else:
        words_dict[i]='short'
print(words_dict)

{'data': 'short', 'science': 7, 'machine': 7, 'learning': 8, 'good': 'short', 'morning': 7}

 #### Find the elements in a list in which elements are ended with letter 'b' and the length of that element is greater than 2

In [113]:
names=['ah', 'Bh','Fd','acdb', 'cb', 'Tb','Yd','Chb', 'Tdb' ]

In [114]:
lst=[]
for i in names:
    if i.endswith('b') and len(i)>2:
        lst.append(i)
print(lst)

['acdb', 'Chb', 'Tdb']

#### Given a list of numbers, display the numbers in the form '1=Odd', '2=Even' respectively for odd and even

In [115]:
lst=[3, 10, 4, 5, 7, 6]

In [116]:
l=[]
for i in lst:
    if i%2==0:
        l.append(str(i)+'=Even')
    else:
        l.append(str(i)+'=Odd')
print(l)

['3=Odd', '10=Even', '4=Even', '5=Odd', '7=Odd', '6=Even']

#### Write a function that calculates the sum of two integers without using the + or – operators…

In [118]:
def get_sum(a, b):
    nums = []
    nums.append(a)
    nums.append(b)
    return sum(nums)

In [119]:
get_sum(10, 15)

25

### Problem Statement :- Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.
You can return the answer in any order.
Input: nums = [2,7,11,15], target = 9
Output: [0,1]

Input: nums = [3,2,4], target = 6
Output: [1,2]

Input: nums = [3,3], target = 6
Output: [0,1]

In [124]:
def two_sum(nums, target):
    a_dict={}
    for i in range(len(nums)):
        diff=target-nums[i]
        if diff in a_dict:
            return(i, a_dict[diff])
        else:
            a_dict[nums[i]]=i

In [125]:
print(two_sum([2,7,11,15], 9))

(1, 0)

In [126]:
print(two_sum([3,2,4], 6))

(2, 1)

In [127]:
print(two_sum([3,3], 6))

(1, 0)

##### Write a Python code to find the second lowest value in each column in a given DataFrame

In [2]:
import pandas as pd
df = pd.DataFrame({'Id':[1,2,3,4,5,6,7,8,9,10],
'Salary':[20000,30000,50000,40000,80000,90000,350000,55000,60000,70000],
            'Age': [22,23,24,25,26,25,26,27,25,24]})
df

   Id  Salary  Age
0   1   20000   22
1   2   30000   23
2   3   50000   24
3   4   40000   25
4   5   80000   26
5   6   90000   25
6   7  350000   26
7   8   55000   27
8   9   60000   25
9  10   70000   24

In [8]:
print("DataFrame is:\n",df)
print("Second lowest value of each column is:")
result = df.apply(lambda x: x.sort_values().unique()[1], axis=0)
print
print(result)

DataFrame is:
    Id  Salary  Age
0   1   20000   22
1   2   30000   23
2   3   50000   24
3   4   40000   25
4   5   80000   26
5   6   90000   25
6   7  350000   26
7   8   55000   27
8   9   60000   25
9  10   70000   24
Second lowest value of each column is:
Id            2
Salary    30000
Age          23
dtype: int64

##### Write a program in Python to find which column has the minimum number of missing values in a given dataframe

In [12]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Id':[1,2,3,np.nan,5,6,7,8,9,10],
'Salary':[20000,np.nan,50000,40000,80000,np.nan,350000,55000,60000,70000],
            'Age': [22,23,np.nan,25,np.nan,25,26,27,np.nan,24]})

In [10]:
# print("DataFrame is:\n",df)
# df = df.apply(lambda x: x.isnull().sum(),axis=0)
# print("lowest missing value column is:",df.idxmin())

DataFrame is:
      Id    Salary   Age
0   1.0   20000.0  22.0
1   2.0       NaN  23.0
2   3.0   50000.0   NaN
3   NaN   40000.0  25.0
4   5.0   80000.0   NaN
5   6.0       NaN  25.0
6   7.0  350000.0  26.0
7   8.0   55000.0  27.0
8   9.0   60000.0   NaN
9  10.0   70000.0  24.0
lowest missing value column is: Id

In [13]:
df

     Id    Salary   Age
0   1.0   20000.0  22.0
1   2.0       NaN  23.0
2   3.0   50000.0   NaN
3   NaN   40000.0  25.0
4   5.0   80000.0   NaN
5   6.0       NaN  25.0
6   7.0  350000.0  26.0
7   8.0   55000.0  27.0
8   9.0   60000.0   NaN
9  10.0   70000.0  24.0

In [24]:
df.isnull().sum().idxmin()

'Id'

###### OR

In [15]:
result = df.apply(lambda x: x.isnull().sum(),axis=0)
result

Id        1
Salary    2
Age       3
dtype: int64

In [18]:
print("lowest missing value column is:",result.idxmin())

lowest missing value column is: Id

###### Write a program in Python to find the index for NaN value in a given series

In [25]:
import pandas as pd
import numpy as np

In [27]:
l = [1,2,3,np.nan,4,np.nan]
data = pd.Series(l)
print(data)

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    NaN
dtype: float64

In [34]:
data_mod=data[pd.isnull(data)]
data_mod

3   NaN
5   NaN
dtype: float64

In [37]:
list(data_mod.index)

[3, 5]

###### Print dictionary with key as numbers and value as square of the numbers

In [38]:
simple_dict={}
for i in range(1,10):
    simple_dict[i]=i**2
print(simple_dic

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [39]:
dict={1:'Shubham', 2:'Ravi', 3:'Nitin', 4:'Sahil'}
dict

{1: 'Shubham', 2: 'Ravi', 3: 'Nitin', 4: 'Sahil'}

In [44]:
k=[]
for keys in dict.keys():
    k.append(keys)
print(k)

[1, 2, 3, 4]

In [45]:
v=[]
for values in dict.values():
    v.append(values)
print(v)

['Shubham', 'Ravi', 'Nitin', 'Sahil']